*.jpg
*.png
*.tif
*.tiff
*.tmp
*.out
*.tar
*.gz

data
lib/build
results
snapshots
config.json
scripts/build
scripts/server_util.py
scripts/correct_results.py
models
models_

.DS_Store
sftp-config.json
